<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Login</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='/webjars/bootstrap/css/bootstrap.min.css'>
  <link th:href="@{/styles/css/login.css}" rel="stylesheet">
</head>

<body>

        <div class="wrapper">
          <form th:action="@{/authentication/login}" method="POST" class="form-signin">
            <div th:if="${#httpServletRequest.getParameter('error') != null}">
              <div class="alert alert-danger text-center"> Access Denied </div>  
            </div>
            <h1 class="text-center"> <a href="" th:href="@{/}"> Hunting Mill </a> </h1>
            <hr>
            <h2 class="text-center form-signin-heading mb-4 mt-4">Please login</h2>
            <input type="text" id="username" name="username" class="form-control" placeholder="Your User name" required autofocus />
            <input type="password" id="password" name="password" class="form-control mb-4" placeholder="Password" required />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            <p class="mt-5 text-center text-muted">&copy; 2019-2020</p>
          </form>

        </div>

  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>