<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layouts/main-layout}">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Role</title>
</head>
<body>

    <th:block layout:fragment="content">
    <h1> Role </h1>
    <hr>
    <div class="row mb-4">
        <div class="col">
            <div class="card shadow">
                <div class="card-header text-white bg-primary">
                    Details
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <td th:text="${role.id}">ID</td>
                        </tr>
                        <tr>
                            <th>UUID</th>
                            <td th:text="${role.uuid}"> ID</td>
                        </tr>
                        <tr>
                            <th>Role Name</th>
                            <td th:text="${role.roleName}">ID</td>
                        </tr>
                        <tr>
                            <th>Created At</th>
                            <td th:text="${role.createdAt}">ID</td>
                        </tr>
                        <tr>
                            <th>Updated At</th>
                            <td th:text="${role.updatedAt}">ID</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header text-white bg-primary">
                    Users
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>User Name</th>
                                <th>created at</th>
                            </tr>
                        </thead>
                        <tr th:each="user : ${role.users}">
                            <td th:text="${user.uuid}">ID</td>
                            <td> 
                                    <a href="" th:href="@{/users/{id}(id=${user.id})}" th:text="${user.username}"></a>
                            </td>
                            <td th:text="${user.createdAt}">ID</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </th:block>
    
</body>
</html>