<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="~{layouts/main-layout}">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Users</title>
</head>
<body>

    <th:block layout:fragment="content">
    <h1> Users </h1>
    <hr>
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header text-white bg-primary">
                    Users List
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>uuid</th>
                                <th>username</th>
                                <th>created at</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.id}" >0001</td>
                                <td th:text="${user.uuid}" >0001</td>
                                <td>
                                    <a href="" th:href="@{/users/{id}(id=${user.id})}" th:text="${user.username}"></a>
                                </td>
                                <td th:text="${user.createdAt}">example</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-right">
                    <a href="" th:href="@{/users/create}" class="btn btn-primary"> create </a>
                </div>
            </div>
        </div>
    </div>
    </th:block>
    
</body>
</html>