<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>

    <th:block th:fragment="sidebar">
        <div class="list-group shadow mb-4">
            <a href="#" class="list-group-item list-group-item-action active">
                Navigation
            </a>
            <a href="#" th:href="@{/}" class="list-group-item list-group-item-action">Index</a>
            <a href="#" th:href="@{/users}" class="list-group-item list-group-item-action">Users</a>
            <a href="#" th:href="@{/roles}" class="list-group-item list-group-item-action">Roles</a>
        </div>
        <div class="list-group shadow mb-4">
            <a href="#" class="list-group-item list-group-item-action active">
                Security
            </a>
            <a href="#" th:href="@{/security/public}" class="list-group-item list-group-item-action">Public Page</a>
            <a href="#" th:href="@{/security/private}" class="list-group-item list-group-item-action">Private Page</a>
            <a href="#" th:href="@{/security/private/regular}" class="list-group-item list-group-item-action">REGULAR Page</a>
            <a href="#" th:href="@{/security/private/admin}" class="list-group-item list-group-item-action">ADMIN Page</a>
            <a href="#" th:href="@{/security/own}" class="list-group-item list-group-item-action">OWN Page</a>
        </div>
        <div class="list-group shadow">
            <a href="#" class="list-group-item list-group-item-action active">
                Actions
            </a>
            <a href="#" th:href="@{/test/run}" class="list-group-item list-group-item-action">Test.run()</a>
            <a href="#" th:href="@{/users/register}" class="list-group-item list-group-item-action">register</a>
            <a href="#" th:href="@{/authentication/login}" class="list-group-item list-group-item-action">login</a>
            <a href="#" th:href="@{/authentication/logout}" class="list-group-item list-group-item-action">logout</a>
            <a href="#" th:href="@{/security/access-denied}" class="list-group-item list-group-item-action">Access Denied Page</a>
        </div>
    </th:block>

    <th:block th:fragment="navbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
            <a class="navbar-brand" href="#">Hunting Mill</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" th:href="@{/}">Index <span class="sr-only">(current)</span></a>
                    </li>
                </ul> -->
                <ul class="navbar-nav ml-auto">
                    <li th:if="${#httpServletRequest.remoteUser != null}" class="nav-item active">
                        <a class="nav-link" href="#">Hello <span th:text="${#httpServletRequest.remoteUser}">User</span></a>
                    </li>
                    <li th:if="${#httpServletRequest.remoteUser == null}" class="nav-item">
                        <a class="nav-link active" th:href="@{/register}">Register</a>
                        </li>
                    <li th:if="${#httpServletRequest.remoteUser == null}" class="nav-item">
                        <a class="nav-link active" th:href="@{/authentication/login}">Login</a>
                    </li>
                    <li th:if="${#httpServletRequest.remoteUser != null}" class="nav-item active">
                        <form th:action="@{/authentication/logout}" method="post">
                            <input type="submit" class="btn btn-outline-light my-2 my-sm-0" value="Logout" />
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </th:block>

</body>

</html>